@import "../../styles/constants.scss";

.container {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  margin-bottom: 20px;
  .title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    color: $darkGray;
  }
}
