@import "../../styles/constants.scss";

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  &.active {
    border: 1px solid $primaryColor;
  }
  .reveal__password__btn {
    position: absolute;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 200ms ease;
    width: 20px;
    height: 20px;
    svg {
      width: 100%;
      height: 100%;
    }
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .input {
    color: $black;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    &::placeholder {
      opacity: 1;
      color: change-color($color: $black, $alpha: 0.5);
    }
    &:focus {
      border: none;
    }
  }
  &.input__invalid {
    border: 1px solid $red !important;
    margin-bottom: 20px;
  }
  .error {
    color: $red;
    font-weight: 500;
    font-size: 0.6em;
    margin: 0;
    position: absolute;
    bottom: -15px;
    left: 20px;
    white-space: nowrap;
  }
}
