@import "../constants.scss";

.container {
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .picture__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      .picture {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: $secondaryColor;
      }
      .name {
        font-size: 1.5em;
        color: $black;
        line-height: 1em;
        font-weight: 700;
      }
    }
    .verify__buttons {
      margin: 20px 0;
    }
  }
}
